.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #fafafa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

html,
body {
  background-color: #fafafa !important;
}
p {
  align-content: center;
  background-color: #fafafa;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 6em;
}
p > span {
  opacity: 0.4;
  text-align: center;
}
